* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #11324d;
  font-family: Arial, sans-serif;
}
.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  /* width: 45vh; */
  width: 90%;
  max-width: 500px;
}
form {
  margin: 2rem 0 1rem 0;
}
form select,
button,
input {
  width: 100%;
  width: calc(100% - 1rem);
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

p {
  font-size: 1.1rem;
}

form input {
  border: solid gray 1px;
  font-size: 1rem;
  height: 2.5rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  flex-direction: column; /* Adjusted to stack items on smaller screens */
  gap: 1rem; /* Added gap between elements */
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 1.75rem;
  text-align: center;
}

.dropdown i {
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.select-container img {
  max-width: 2rem;
  max-width: 10%; /* Ensures images scale properly */
  height: auto; /* Maintains aspect ratio */
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* width: 6rem; */
  border: solid gray 1px;
  border-radius: 0.5rem;
  width: 100%;
}

.select-container select {
  font-size: 1rem;
  width: auto;
  width: 100%; /* Adjusted width to fill the container */

}
.msg {
  margin: 2rem 0 2rem 0;
}

form button {
  height: 3rem;
  width: 100%;
  background-color: #b67352;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }
  .dropdown {
    flex-direction: row;
  }
  .dropdown i {
    margin-top: 0;
    margin-left: 1rem; 
    margin-right: 1rem;
  }
}